#angularJStest {
  all: initial !important;
  background-color: white !important;
  overflow-y: scroll !important;
  position: fixed !important;
  top: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  width: 250px !important;
  height: 100% !important;
  z-index: 2147483647 !important;
  font: helvetica !important;
  color: #333 !important; }
  #angularJStest ul {
    cursor: pointer !important;
    display: inline !important;
    list-style-type: none !important;
    list-style: none !important;
    list-style-image: none !important;
    list-style-position: outside !important; }
    #angularJStest ul li .rattingListItem {
      padding: 2px !important;
      margin-top: 2.5px !important;
      margin-bottom: 5px !important;
      background: #3498db;
      border-radius: 28px; }
      #angularJStest ul li .rattingListItem .label_chromeExtension {
        margin: 5px !important; }
  #angularJStest #errorRattingsPanel li, #angularJStest #errorTypesPanel li, #angularJStest #errorListPanel li {
    padding: 2px !important;
    margin-top: 2.5px;
    margin-bottom: 2.5px;
    cursor: pointer !important;
    list-style-type: none !important;
    list-style: none !important;
    list-style-image: none !important;
    list-style-position: outside !important; }
  #angularJStest #errorRattingsPanel li:hover, #angularJStest #errorTypesPanel li:hover, #angularJStest #errorListPanel li:hover {
    background-color: #C3C3E5;
    transition: background-color 0.2s ease; }
  #angularJStest .ui-accordion-header {
    font-size: 16px !important;
    background-color: #443266 !important;
    border: 2px #443266 solid !important;
    color: white !important; }
  #angularJStest .ui-state-hover {
    background-color: #5f468f !important; }
  #angularJStest .ui-widget-content {
    background-color: white !important; }

.allErrors {
  padding: 10px !important;
  display: block !important;
  border: 2px solid black !important;
  background-color: red; }

.Critical {
  padding: 10px !important;
  display: block !important;
  border: 2px solid black !important;
  background-color: darkred; }

.Serious {
  padding: 10px !important;
  display: block !important;
  border: 2px solid black !important;
  background-color: #BF5700; }

.Moderate {
  padding: 10px !important;
  display: block !important;
  border: 2px solid black !important;
  background-color: orange; }

.Minor {
  padding: 10px !important;
  display: block !important;
  border: 2px solid black !important;
  background-color: yellow; }

.Critical_Indicator {
  border-radius: 999px !important;
  border: 1px solid white !important;
  height: 20px !important;
  width: 20px !important;
  display: block !important;
  float: right !important;
  background-color: darkred; }

.Serious_Indicator {
  border-radius: 999px !important;
  border: 1px solid white !important;
  height: 20px !important;
  width: 20px !important;
  display: block !important;
  float: right !important;
  background-color: #BF5700; }

.Moderate_Indicator {
  border-radius: 999px !important;
  border: 1px solid white !important;
  height: 20px !important;
  width: 20px !important;
  display: block !important;
  float: right !important;
  background-color: orange; }

.Minor_Indicator {
  border-radius: 999px !important;
  border: 1px solid white !important;
  height: 20px !important;
  width: 20px !important;
  display: block !important;
  float: right !important;
  background-color: yellow; }

.None {
  padding: 0px;
  border: 0px;
  background-color: transparent !important; }

.individualError {
  padding: 20px;
  display: block;
  border-radius: 2px solid black;
  background-color: #C3C3E5 !important; }

.red {
  background-color: #cc0000; }

.selectedItemInPanel {
  background-color: #b0b0ce; }

.icon {
  border: 1px solid black !important;
  padding: 10px !important;
  background-color: white !important;
  position: absolute !important;
  bottom: 0 !important;
  right: 0 !important;
  z-index: 2147483640 !important;
  color: black !important;
  font-weight: bold !important;
  font-size: 12px !important;
  cursor: pointer !important; }

.icon:hover {
  font-size: 16px !important;
  transition: all 0.2s ease !important; }

.iconHide {
  display: none !important; }

#instructions {
  margin-top: 40px !important;
  margin-bottom: 40px !important;
  padding-left: 40px !important;
  padding-right: 40px !important;
  font: helvetica !important;
  color: #333 !important; }
  #instructions ul, #instructions li {
    list-style-type: none !important;
    list-style: none !important;
    list-style-image: none !important;
    list-style-position: outside !important; }
  #instructions h3 {
    margin-bottom: 10px !important;
    font-weight: bold !important;
    color: #333 !important;
    font-size: 20px !important; }

.Individualcontent {
  font-size: 16px !important;
  margin-top: 5px !important;
  margin-bottom: -20px !important;
  word-wrap: break-word !important; }

#toggleCSSButton {
  background: #3498db !important;
  border-radius: 28px !important;
  color: #ffffff !important;
  font-size: 16px !important;
  padding: 10px 20px 10px 20px !important;
  margin-top: 15px !important;
  text-align: center !important;
  cursor: pointer !important; }

#toggleCSSButton:hover {
  background-color: #C3C3E5;
  transition: none !important; }
