<!DOCTYPE html>
<html ng-app="" ng-csp="">
<head>
	<title></title>
</head>
<body>


<!-- <div ng-non-bindable>
 -->
<div id = "angularJStest">
   
    <div id="accordionFilters">

      <div>
          <h3>
          Error Ratings 
          <span style = "display: block; float: right;  margin-right: 10px; " ng-class = "colorIndicator(selectedIndexRatting)" ng-show = "selectedIndexRatting != -1">  </span> 
          </h3>

          <div id = "errorRattingsPanel" >

                <ul errors-in-controller>
                    <li id="totalErrorCount" style = "margin-bottom: 10px; text-align: center; font-weight: bold" class = "rattingListItem hoverListItem"
                    ng-click = "
                    filterErrorsByRatting('allErrors', 0);
                    itemClickedRatting(0);
                    " ng-class= " {'selectedItemInPanel': 0 == selectedIndexRatting } ">
                        <label>Total Errors ({{errorData.length}}) </label> 
                        <!-- <div class="errorValue">{{errorData.length}}</div> -->

                    </li>

                    <li id="criticalErrorsTotal" class = "rattingListItem hoverListItem"  ng-click = "
                    filterErrorsByRatting('critical', 4);
                    itemClickedRatting(4);
                    " ng-class= " {'selectedItemInPanel': 4 == selectedIndexRatting } ">
                        <label>Critical ({{criticalErrors.length}})
                        <span ng-class = "colorIndicator(4)">  </span> 
                        </label> 
                        <!-- <div class="errorValue">{{criticalErrors.length}}</div> -->
                    </li>


                    <li id="seriousErrorsTotal" class = "rattingListItem hoverListItem" ng-click = "
                    filterErrorsByRatting('serious', 3);
                    itemClickedRatting(3);
                    " ng-class= " {'selectedItemInPanel': 3 == selectedIndexRatting } ">
                        <label>Serious ({{seriousErrors.length}})
                        <span ng-class = "colorIndicator(3)">  </span> 
                        </label>
                        <!-- <div class="errorValue">{{seriousErrors.length}}</div> -->
                    </li>


                    <li id="moderateErrorsTotal" class = "rattingListItem hoverListItem" ng-click = "
                    filterErrorsByRatting('moderate', 2);
                    itemClickedRatting(2);
                    " ng-class= " {'selectedItemInPanel': 2 == selectedIndexRatting } ">
                        <label>Moderate ({{moderateErrors.length}})
                        <span ng-class = "colorIndicator(2)">  </span> 
                        </label>
                        <!-- <div class="errorValue">{{moderateErrors.length}}</div> -->
                    </li>

                    <li id="minorErrorsTotal" class = "rattingListItem hoverListItem" ng-click = "
                    filterErrorsByRatting('minor', 1);
                    itemClickedRatting(1);
                    " ng-class= " {'selectedItemInPanel': 1 == selectedIndexRatting } ">
                        <label>Minor ({{minorErrors.length}})
                        <span ng-class = "colorIndicator(1)">  </span> 
                        </label>
                        <!-- <div class="errorValue">{{minorErrors.length}}</div> -->
                    </li>

                    <li id = "toggleCSSButton" ng-click="toggleCSS()">
                         Toggle Css 
                    </li>

  

              </ul>
          </div>
      </div>

      <div id = "errorTypesPanel">
          <h3>Error Types <span style = "color: white; display: block; float: right;  margin-right: 10px;" ng-show = "currentTypeFilter != null"> ({{currentTypeFilter}}) </span> </h3>
          <div>

            <ul>

                <div id="errorFiltersDescriptions" ng-repeat = "error in errorDataByFilter = (errorData | filter:filters | unique: 'description' )"
                > 



                  <li   class = "hoverListItem" 
                        ng-class="{ 'selectedItemInPanel': $index == selectedIndexFilter }"
                        ng-click="displayType(error.description, $index); filterClicked($index)"
                        ng-show = "filterErrorListByRatting(error)" 
                        >

                       {{ typeIndex($index) }}.) {{error.description}}

                  </li>


                </div>

              </ul>
             
          </div>
      </div>

         
          <!--  <div ng-repeat = "example in filteselectedItemInPanelErrors = (errorData | 
            filter: {ratting: selectedIndexRatting } |
            filter: {description: listOfErrorDescriptions[selectedIndexFilter].description}
             )"
            >
              
            </div> -->

      <div errors-in-controller id = "errorListPanel">
          <h3>Error List 

          <span style = "color: white; display: block; float: right;  margin-right: 10px;" > ({{totalCount()}}) </span>

          </h3>

          <div>
           
            <ul>
                <div 
                     ng-repeat = "error in filteselectedItemInPanelErrors = (errorData)" 
                     ng-class="{ 'selectedItemInPanel': $index == selectedIndexIndividual}"
                     ng-click="showIndividualInformation($index)"
                     ng-show = "filterErrorListByType(error, hideByFilter)" 
                 >
 
                  
                  <li>

                              

                   <a ng-click="gotoBottom()" ng-href = "#error{{$index}}" target="_self">   Error # {{$index + 1}} Type: {{getTypeLetter($index)}} </a>

                   </li>

                </div>
            </ul>


          </div>
      </div>


      <div id = "individualInfoPanel" >
         <!--  Go here when you click an error -->
          <a id="bottom"></a>
          <h3>Individual Info</h3>
          <div ng-show = "individualError != null">
                <ul errors-in-controller> 

                    <li>
                    <b> Ratting: </b> <span style = " display: inline-block !important; float: none !important; margin-bottom: -5px !important; " ng-class = "colorIndicator(individualError.ratting)">  </span> 
                    </li>

                    <br>

                    <li>
                     <b> Error Type: </b> <br/> <div class = "Individualcontent"> {{individualError.description}} 
                     </div> 
                    </li>

                    <br>  
                    <br>

                    <li>
                    <b> Causes of Error: </b>

                    <div ng-repeat = "e in individualError.solutions ">  
                     <div class = "Individualcontent"> {{$index +1}}.)  {{e}} </div>
                     <br>
                    </div>
                    </li>

                    <br>

                    <li>
                    <b> HTML Snippet: </b> 
                    <p> <div class = "Individualcontent">
                    {{individualError.htmlInfo}}  </div> </p>
                    </li>

                    <br>

                    <li>
                    <b> <a href="{{individualError.externalPageInfo}}" target="_blank">  Click here for more information. </a> </b>
                    </li>

                </ul>
          </div>

      </div>

    </div>


<!--     These are the instructions -->

      <div id = "instructions" >
       <!--  <h3> {{}} / {{}} Tests have passed. </h3>
        <br> -->
         <!--  Go here when you click an error -->
          <h3> <b> How to use: </b> </h3>
              <ul>  
                  <li>
                    Click on Error Rattings or Error Types to start vizualizing the errors. 
                  </li>
                  <br>
                  <li>
                    You can combine the filters to narrow down the errors you wish to find.
                  </li>
                  <br>
                  <li>
                    To find information on the errors, either click the icons on screen, or check the Error List.
                  </li>


              </ul>

      </div>

 
      

</div>





</body>
</html>
 
<!-- <a href= "#/"> View 1 </a>
<a href= "#/view2"> View 2 </a>
 -->