<!DOCTYPE html>
<html ng-app="" ng-csp="">
<head>
	<title></title>
</head>
<body>



<div class="container" id = "angularJStest">
   
    <div id="accordionFilters">
      <h3>Error Rattings</h3>
      <div>

            <ul errors-in-controller>
                <li id="totalErrorCount" class = "col-xs-3" ng-click = "itemClickedRatting(0);
                filterErrorsByRatting('allErrors')" ng-class= " {'selectedItemInPanel': 0 == selectedIndexRatting } ">
                    <label>Total Errors</label>
                    <div class="errorValue">{{errorData.length}}</div>

                </li>

                <li id="criticalErrorsTotal" class = "col-xs-3" ng-click = "itemClickedRatting(4);
                filterErrorsByRatting('critical')" ng-class= " {'selectedItemInPanel': 4 == selectedIndexRatting } ">
                    <label>Critical</label>
                    <div class="errorValue">{{criticalErrors.length}}</div>
                </li>


                <li id="seriousErrorsTotal" class = "col-xs-3"  ng-click = "itemClickedRatting(3);
                filterErrorsByRatting('serious')" ng-class= " {'selectedItemInPanel': 3 == selectedIndexRatting } ">
                    <label>Serious</label>
                    <div class="errorValue">{{seriousErrors.length}}</div>
                </li>


                <li id="moderateErrorsTotal" class = "col-xs-3" ng-click = "itemClickedRatting(2);
                filterErrorsByRatting('moderate')" ng-class= " {'selectedItemInPanel': 2 == selectedIndexRatting } ">
                    <label>Moderate</label>
                    <div class="errorValue">{{moderateErrors.length}}</div>
                </li>

                <li id="minorErrorsTotal" class = "col-xs-3" ng-click = "itemClickedRatting(1);
                filterErrorsByRatting('minor')" ng-class= " {'selectedItemInPanel': 1 == selectedIndexRatting } ">
                    <label>Minor</label>
                    <div class="errorValue">{{minorErrors.length}}</div>
                </li>

            <!--     <li id="noneErrorsTotal" class = "col-xs-3" ng-click = "itemClickedRatting(-1);
                displayErrorByRatting('-')" ng-class= " {'selectedItemInPanel': -1 == selectedIndexRatting } ">
                    <label>Show Nothing</label>
                </li>
     -->

          </ul>
      </div>


      <h3>Error Types</h3>
      <div>

            <ul id="errorFiltersDescriptions" class="row" ng-repeat = "error in errorDataByFilter = (errorData | filter:filters | unique: 'description' )"
            > 



              <li  ng-class="{ 'selectedItemInPanel': $index == selectedIndexFilter }"
                    ng-click="displayType(error.description, $index); filterClicked($index)"
                    ng-show = "filterErrorListByRatting(error)" 
                    >

                   {{ typeIndex($index) }}.) {{error.description}}

              </li>


            </ul>
         
      </div>


      <h3>Error List</h3>
      <div>
        


        <ul>
            <li 
                 ng-repeat = "error in filteselectedItemInPanelErrors = (errorData | filter:filters)" 
                 ng-class="{ 'selectedItemInPanel': $index == selectedIndex }"
                 ng-click="itemClicked($index); showIndividualInformation($index)"
                 ng-show = "filterErrorListByType(error, hideByFilter)" 

             >

               <a href = "#error{{$index}}">   Error # {{$index + 1}} </a>



            </li>
        </ul>


      </div>



      <h3>Individual Info</h3>
      <div>
            <ul errors-in-controller class="row">  
                <li>
                Ratting: {{individualError.ratting}}
                </li>

                <li>
                Error Type: {{individualError.description}}
                </li>

                <li>
                Why the error Happened:            
                <div ng-repeat = "e in individualError.solutions ">  
                  {{$index +1}}.)  {{e}} <br>
                </div>
                </li>

                <li>
                HTML Snippet: <p>
                {{individualError.htmlInfo}} </p>
                </li>

                <li>
                <a href="{{individualError.externalPageInfo}}">  Click here for more information </a>
                </li>

            </ul>
      </div>

    </div>

 
 

    <!--     <div errors-in-controller>
        	  <div id="totalErrorCount" class = "col-xs-3" ng-click = "itemClickedRatting(0);
            filterErrorsByRatting('allErrors')" ng-class= " {'selectedItemInPanel': 0 == selectedIndexRatting } ">
	              <label>Total Errors</label>
	              <div class="errorValue">{{errorData.length}}</div>

	          </div>

	          <div id="criticalErrorsTotal" class = "col-xs-3" ng-click = "itemClickedRatting(4);
            filterErrorsByRatting('critical')" ng-class= " {'selectedItemInPanel': 4 == selectedIndexRatting } ">
	              <label>Critical</label>
	              <div class="errorValue">{{criticalErrors.length}}</div>
	          </div>


	          <div id="seriousErrorsTotal" class = "col-xs-3"  ng-click = "itemClickedRatting(3);
            filterErrorsByRatting('serious')" ng-class= " {'selectedItemInPanel': 3 == selectedIndexRatting } ">
	              <label>Serious</label>
	              <div class="errorValue">{{seriousErrors.length}}</div>
	          </div>


	          <div id="moderateErrorsTotal" class = "col-xs-3" ng-click = "itemClickedRatting(2);
            filterErrorsByRatting('moderate')" ng-class= " {'selectedItemInPanel': 2 == selectedIndexRatting } ">
	              <label>Moderate</label>
	              <div class="errorValue">{{moderateErrors.length}}</div>
	          </div>

	          <div id="minorErrorsTotal" class = "col-xs-3" ng-click = "itemClickedRatting(1);
            filterErrorsByRatting('minor')" ng-class= " {'selectedItemInPanel': 1 == selectedIndexRatting } ">
	              <label>Minor</label>
	              <div class="errorValue">{{minorErrors.length}}</div>
			      </div>





            <div id="noneErrorsTotal" class = "col-xs-3" ng-click = "itemClickedRatting(-1);
            displayErrorByRatting('-')" ng-class= " {'selectedItemInPanel': -1 == selectedIndexRatting } ">
                <label>Show Nothing</label>
            </div>


		  </div>

		<br> -->

  		<!-- 

  			Filter by error type 
			This filtering should be done in the original page...

  		-->
<!-- 
  		<label>Filter By Error Type: </label>
  		<button ng-click="filters.description = ''; restartEverything() "> Clear Type filter </button>

        <div id="errorFiltersDescriptions" class="row" ng-repeat = "error in errorDataByFilter = (errorData | filter:filters | unique: 'description' )"
        > 



        	<div  ng-class="{ 'selectedItemInPanel': $index == selectedIndexFilter }"
                ng-click="displayType(error.description, $index); filterClicked($index)"
                ng-show = "filterErrorListByRatting(error)" 
                >

        	     {{ typeIndex($index) }}.) {{error.description}}

        	</div>


        </div>
      
      <br> -->



		<!-- 

  			Error List

  		-->


       <!--  <label> Error List: </label>



        <div 
             ng-repeat = "error in filteselectedItemInPanelErrors = (errorData | filter:filters)" 
             ng-class="{ 'selectedItemInPanel': $index == selectedIndex }"
             ng-click="itemClicked($index); showIndividualInformation($index)"
             ng-show = "filterErrorListByType(error, hideByFilter)" 

         >

              Error # {{$index + 1}}



        </div> -->


       <!--   <div ng-repeat = "error in errorData | filter:filters " 
             ng-class="{ 'selectedItemInPanel': $index == selectedIndex }"
             ng-click="itemClicked($index); showIndividualInformation($index)">

            Error # {{$index + 1}}

        </div> -->


       <!--  <br> -->


            <!--   Individual Error Description error description   -->


      <!--   <b><label> Individual Error Description: </label></b>

        <div errors-in-controller class="row">  
          <div>
            <br>
            Ratting: {{individualError.ratting}}
            <br>
            Error Type: {{individualError.description}}
            <br>

            Why the error Happened:
            <br>
            
            <div ng-repeat = "e in individualError.solutions ">  
              {{$index +1}}.)  {{e}} <br>
            </div>

            <br>
            HTML Snippet: 
            <br>
            {{individualError.htmlInfo}}


            <br>
            <br>

            More Information: 
            <br>
            {{individualError.externalPageInfo}}

          </div>
        </div> -->


       

</div>


 





</body>
</html>
 
<!-- <a href= "#/"> View 1 </a>
<a href= "#/view2"> View 2 </a>
 -->