<!DOCTYPE html>
<html ng-app="" ng-csp>
<head>
	<title></title>
	
	<link href="../css/controllerStyling.css" rel="stylesheet">

</head>
<body>


<button id=go>go</button>

<div class="container" id = "angularJStest">
	Name: <br>
	<!-- ng-model adds a property called name into the scope. {{name}} is the binded data to the property ng-model="name" -->
	<input type="text" ng-model="name"/> {{name}}
</div>


<!-- 

	This is the Controller for managing viewing the errors

-->


<div class="container" id = "errorController">


	<!-- 

		This is where text is Displayed:

	-->

	<div id = "textInformation">
		
		<!-- 	This is where the list of errors are lisplayed:	-->

		<ul id = "errorList">
		

		</ul>


	</div>



	<div id="filterOptions">
		<h4>Error List</h4>
		<div id = "errorList">


		</div>

		<h4>Error Filters </h4>
		<div id = "errorFilters">

		</div>

		<h4>Display Errors</h4>
		<div id = "displayErrors">
		</div>

	</div>

</div>


</body>
</html>

