//@import "customVariables";
//@import "customBootstrap";

// #errorController{
//     width: 300px;
//     background-color: lightgrey;
// }

// .errorValue{        
// 	@include make-sm-column(4);
//  }

// #summaryInformation{
	
// }





.allErrors{
}
.Critical{
	background-color: red;
}
.Serious{
	background-color: red * orange;
}
.Moderate{
	background-color: orange;
} 
.Minor{
 	background-color: yellow;
}
.None{
	background-color: none;
}